/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p, form, fieldset,
 label, textarea, select, input, option,
 article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

nav {
  width: 980px;
  box-sizing: border-box;
  padding: 5px 0;
  margin: auto;
  border-bottom: 1px solid lightgray;
  color: #0080c6;
  font-family: Source Sans Pro;
}

.nyc {
  display: block;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}


.register-link {
  margin-left: 10px;
  border: 1px solid #fdc435;
  line-height: 19px;
  float: right;
}

.register-link:hover {
  background: #fdc435;
}

.register {
  display: block;
  color: black;
  font-size: 12px;
  padding: 0px 10px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.signin {
  float: right;
  font-size: 14px;
  font-weight: normal;
}

.logo {
  color: rgb(75, 125, 197);
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: Source Sans Pro;
  width: 980px;
  border-bottom: 5px solid black;
}

nav > img {
  width: 173px;
}

.idx_image {
	display: block;
	width: 170px;
	height: 113.328px;
	float: left;
}

.idx_listing {
  position: relative;
  box-sizing: border-box;
  width: 639px;
  height: 180px;
  padding: 14px 0;
  border-top: 1px solid black;
  font-family: Source Sans Pro;
}

.save_button {
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 0;
  right: 0;
  display: block;
  z-index: 5;
}


.idx_listings {
  width: 980px;
  margin: auto;
  font-family: Source Sans Pro;
}

.idx_address {
  font-size: 18px;
  line-height: 22.4px;
  color: #0080c6;
}
.idx_price {
  font-size: 16px;
  line-height: 22.4px;
  margin-top: 3px;
}
.idx_beds {
  display: block;
  font-size: 14px;
  padding-right: 10px;
}
.idx_baths {
  display: block;
  font-size: 14px;
  float: left;
}
.idx_category {

}
.idx_company {

}

.detail {
  box-sizing: border-box;
  width: 455px;
  float: right;
  border-top: 1px solid lightgray;
  margin: 3px 0;
}

.map {
  position: fixed !important;
  right: 300px;
  display: block;
  width: 310px;
  height: 310px;
  float: right;
}


#signin {
  font-size: 24px;
}


.signintab {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  padding: 5px;
  border: 1px solid lightgray;
}


.search-field {
	width: 980px;
	margin: auto;
  font-family: Source Sans Pro;
}

.search-header {
	font-size: 30px;
}

.search {
	width: 637px;
}

.search > label {
	font-size: 14px;
	display: block;
}

.label-location {

}
.label-type {

}
.label-price {}
.label-bed {}
.label-bath {}



.search > input {
	display: block;
	box-sizing: border-box;
	border: 1px solid lightgray;
	width: 464.156px;
	height: 38px;

}

.search > select {
	display: block;
	box-sizing: border-box;
	outline: 1px solid lightgray;
	-webkit-appearance: none;
	appearance: none;
	padding: 7px;
}

.type-select {
	width: 156.063px;
	height: 38px;

}

.cost-select {
	width: 141.096px;
	height: 40px;
}

.bed-select {
	width: 149.25px;
	height: 40px;
}

.bath-select {
	width: 159.25px;
	height: 40px;


}

.search > button {
	width: 100px;
	height: 42px;
	background: rgb(75, 125, 197);
	color: white;
}
